.frontpage-testimonials__wrapper {
  position: relative;
  z-index: 1;
  padding: 111px 0 76px;
  background: $darkblue-title;
  margin-bottom:  111px;
  @include mq(1020px, max) {
    margin-bottom: 70px;
  }
}
.view-front-page-reviews {
  @include wrapper(1060px);
  .view-content {
    display: flex;
    justify-content: space-between;
    @include mq(1028px, max) {
      flex-flow: column wrap;
    }
    .views-field-field-review {
      margin-bottom: 25px;
      position: relative;
      font-family: $raleway;
      font-size: 18px;
      color: #fff;
      font-weight: 400;
      text-align: center;
      &:before {
        position: absolute;
        content: '';
        height: 18px;
        width: 28px;
        top: -26px;
        left: -53px;
        background: url('../img/mini-quote.png');
        @include mq(1028px, max) {
          left: -23px;
        }
      }
      &:after {
        position: absolute;
        content: '';
        height: 18px;
        width: 28px;
        bottom: -26px;
        right: -53px;
        background: url('../img/mini-quote-revers.png');
        @include mq(1028px, max) {
          right: -23px;
        }
      }
    }
    .views-field-field-reviwer-avatar {
      img {
        display: block;
        margin: 0 auto;
      }
    }
    .views-field-field-review-author {
      color: $skyblue-main;
      font-family: $raleway;
      font-size: 18px;
      font-weight: 600;
      text-align: center;
    }
    .views-field-field-reviewer-position {
      font-family: $raleway;
      font-size: 18px;
      color: #fff;
      font-weight: 400;
      text-align: center;
    }
  }
  .views-row {
    padding: 0 55px 25px;
    flex: 1 1 auto;
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
    @include mq(1028px, max) {
      margin-right: 0;
    }
  }
}
.views-field-field-reviwer-avatar {
  margin-bottom: 43px;
}
.review-block-title {
  font-family: $raleway;
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  margin-bottom: 15px;
}
.review-sub-block-title {
  font-family: $raleway;
  text-align: center;
  margin-bottom: 80px;
  color: #5ab9e5;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
}