.frontpage-services__wrapper {
  @include wrapper(1060px);
  position: relative;
  z-index: 1;
  margin-bottom: 140px;
  @include mq(1020px, max) {
    margin-bottom: 70px;
  }
  @include mq(540px, max) {
    margin-bottom: 40px;
  }
}
.view-front-page-services {
  >.view-header {
    margin-bottom: 76px;
    padding-top: 96px;
    position: relative;
    @include top-gray-decoration-line;
    .view-header-title {
      @include title;
      margin-bottom: 10px;
    }
    .view-header-subtitle {
      display: block;
      font-family: $raleway;
      color: $gray-font;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.66;
      text-align: center;
    }
  }
  >.view-content {
    margin-bottom: 58px;
    display: flex;
    justify-content: space-between;
    @include mq(830px, max) {
      flex-flow: column wrap;
    }
  }
  >.view-footer {

  }
  .views-row {
    position: relative;
    flex: 1 1 auto;
    padding: 0 58px;
    justify-content: center;
    @include mq(540px, max) {
      padding: 0;
    }
    @include mq(460px, max) {
      margin-bottom: 15px;
    }
    &:after {
      content: '';
      position: absolute;
      top: 115px;
      right: 0;
      width: 2px;
      height: 166px;
      background-color: $gray-border;
      @include mq(830px, max) {
        display: none;
      }
    }
    &:last-child {
      &:after {
        content: none;
      }
    }
  }
  .views-field {
    width: 100%;
  }
  .views-field-field-icon {
    margin-bottom: 13px;
    min-height: 86px;
    img {
      display: block;
      margin: 0 auto;
    }
  }
  .views-field-title {
    margin: 0 0 30px;
    text-align: center;
    color: $darkblue-title;
    font-family: $raleway;
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
  }
  .views-field-field-description {
    font-family: $raleway;
    color: $darkblue-title;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 25px;
  }
  .views-field-field-price {
    text-align: right;
    color: $skyblue-main;
    font-size: 25px;
    font-weight: 600;
    font-family: $raleway;
    .custom-prefix-wrapper {
      font-size: 18px;
      margin-right: 5px;
    }
    .custom-suffix-wrapper {
      font-size: 18px;
      margin-left: 2px;
    }
  }
}