#first-time {
  display: none;
}
.frontpage-statistic__wrapper {
  position: relative;
  z-index: 1;
  @include wrapper(1170px);
  @include clearfix;
  background: white;
  margin-bottom: 52px;
  padding: 36px;
  box-sizing: border-box;
  box-shadow: 4px 3px 16px 4px rgba(0, 1, 2, 0.05);
  .view-photo-block {
    display: flex;
    @include mq(1170px, max) {
      flex-flow: column wrap;
      align-items: center;
    }
    > .view-content {
      flex: 1 0 auto;
      margin-right: 46px;
      @include mq(1170px, max) {
        margin-right: 0;
      }
    }
    > .view-footer {
      flex: 1 1 auto;
      margin-top: 49px;
    }
  }
  .statistic-title {
    @include title;
    margin-bottom: 10px;
  }
  p {
    margin: 0;
    text-align: center;
  }
  .statistic-subtitle {
    display: block;
    text-align: center;
    color: #aeaeae;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.65;
    font-family: $raleway;
  }
  .view-statistics {
    .view-header {
      margin-bottom: 71px;
    }
    .view-content {
      @include clearfix
    }
    .views-row {
      width: 50%;
      float: left;
      margin-bottom: 50px;
      &-even {
        float: right;
      }
      &:nth-child(n+3) {
        margin-bottom: 0;
        @include mq(540px, max) {
          margin-bottom: 50px;
        }
      }
      @include mq(540px, max) {
        width: 100%;
      }
    }
    .views-field-title {
      position: relative;
      padding-top: 8px;
      font-family: $raleway;
      font-size: 18px;
      font-weight: 400;
      text-align: center;
      color: $darkblue-title;
      line-height: 1;
      &:after {
        content: '';
        position: absolute;
        @include absolute-horizontal-center;
        top: 0;
        width: 66px;
        height: 1px;
        background: $skyblue-main;
      }
    }
    .views-field-field-quantity {
      font-family: $multicolore;
      font-size: 70px;
      font-weight: 400;
      color: $darkblue-title;
      line-height: 1;
      text-align: center;
    }
  }
}
