.frontpage-how-we-work__wrapper {
  position: relative;
  z-index: 1;
  .view-photo-block-2 {
    @include wrapper(1170px);
    margin-bottom: 48px;
    background: white;
    padding: 36px;
    box-sizing: border-box;
    box-shadow: 4px 3px 16px 4px rgba(0, 1, 2, 0.05);
    @include clearfix;
    @include mq(960px, max) {
      display: flex;
      flex-flow: column wrap;
    }
  }
  .view-header {
    padding: 0 56px 0 23px;
    margin-right: 5px;
    float: left;
    width: 49%;
    @include mq(960px, max) {
      order: 2;
      float: none;
      width: 100%;
      margin-bottom: 30px;
      padding: 0;
    }
    p {
      margin: 0;
    }
  }
  .how-we-work-title {
    margin: 29px 0 15px;
    color: $darkblue-title;
    font-size: 40px;
    font-weight: 700;
    font-family: $raleway;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
  }
  .sub-titile {
    display: block;
    font-family: $raleway;
    color: #777;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    line-height: 1.65;
    margin: 0 0 36px;
  }
  .view-content {
    float: left;
    width: 50%;
    @include mq(960px, max) {
      order: 1;
      float: none;
      width: 100%;
    }
  }
  .views-field-field-image {
    img {
      display: block;
      @include mq(960px, max) {
        margin: 0 auto;
      }
    }
  }
  .how-we-work-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .hww-row-1, .hww-row-2, .hww-row-3 {
    width: 100%;
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mq(460px, max) {
      margin-bottom: 10px;
    }
  }
  .item-1, .item-2, .item-3 {
    //flex: 1 1 0;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    span {
      text-align: center;
      color: $darkblue-title;
      font-family: $raleway;
      font-size: 20px;
      font-weight: 600;
    }
  }
  &:before {
    position: absolute;
    content: '';
    width: 100%;
    overflow: hidden;
    display: block;
    height: 755px;
    background: url('../img/pattern-white.png') #f6f6f6;
    top: 278px;
    left: 0;
    z-index: -1;
    transform: skew(0, 25.4deg);
  }
}